{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Marker Details" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Label" %}</th>
            <td>{{ object.label|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ object.get_marker_type_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{{ object.get_status_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Site" %}</th>
            <td>
              {% if object.site %}
                <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
              {% else %}
                <span class="text-muted">&mdash;</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Position" %}</th>
            <td>{{ object.latitude }}, {{ object.longitude }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Assigned Object" %}</th>
            <td>
              {% if object.assigned_object %}
                <a href="{{ object.assigned_object.get_absolute_url }}">{{ object.assigned_object }}</a>
              {% else %}
                <span class="text-muted">&mdash;</span>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Camera FOV" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Direction" %}</th>
            <td>{{ object.fov_direction }}&deg;</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Angle" %}</th>
            <td>{{ object.fov_angle }}&deg;</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Distance" %}</th>
            <td>{{ object.fov_distance }}</td>
          </tr>
        </table>
      </div>
      <div class="card mt-3">
        <h5 class="card-header">{% trans "Actions" %}</h5>
        <div class="card-body">
          <a href="{% url 'plugins:netbox_map:sitemap' %}?q={{ object.latitude }},{{ object.longitude }}" class="btn btn-primary">
            <i class="mdi mdi-map-marker-multiple-outline"></i> {% trans "View on Site Map" %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
